<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Restaurant Apps Starter Project</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet"
    type="text/css">

</head>

<body>
  <header>
    <div class="container">
      <button id="btn-menu" class="btn btn-menu" href="#">☰</button>
      <h1>Hangout</h1>
      <nav id="drawer">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__bg"></div>
    <div class="hero__inner">
      <h1>Restaurant Apps Starter Project</h1>
      <p>Discover Restaurant & Delicious Food</p>
    </div>
  </div>

  <div class="container" style="display: none;">
    <main>
      <section class="headline">
        <article>
          <figure>
            <img src="../images/heros/hero-image_4.jpg" alt="Dicoding Fact Sheet">
            <figcaption>Dicoding February 2020 Infographic, 235k Members</figcaption>
          </figure>
          <div class="headline__content">
            <h2>ceritadicoding : Story of Dicoding</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eum
              facere nostrum officiis qui quidem ratione similique, soluta veniam voluptatum. Accusantium ad amet
              asperiores, aut commodi corporis dicta distinctio ducimus expedita itaque laudantium magnam maiores,
              nobis obcaecati officiis provident quasi qui quos repellat rerum saepe sint soluta veniam vero
              vitae, voluptas voluptate voluptatem. Esse nobis non nulla optio vero. Laudantium!</p>
            <button>Read More</button>
          </div>
        </article>
      </section>

      <section class="restaurants">
        <h2>Explore Our Foods</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus
          senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet.
        </p>
        <div id="resto-data"></div>
      </section>
    </main>
  </div>
  <!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->
  <div id="full-overlay" class="full-overlay"></div>

  <footer>

  </footer>
</body>

</html>