<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Restaurant Apps Starter Project</title>
  <meta name="description" content="Overant Restaurant">
  <meta name="theme-color" content="#db0000" />
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet"
    type="text/css">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

</head>

<body>
  <a href="#mainWebValue" class="skip-link">Go to Main Content</a>
  <header class="header-navigation">
    <div class="container">
      <button id="hamburgerButton" class="btn btn-menu" href="#" tabindex="0"
        aria-label="click to open and go to the navbar drawer">☰</button>
      <a href="/#" title="OVERANT - Discover Restaurant">
        <picture>
          <source srcset="./images/logo.webp" type="image/webp">
          <source srcset="images/logo.png" type="image/png">
          <img src="./public/images/logo.webp" alt="OVERANT - Discover Restaurant">
        </picture>
      </a>
      <nav id="navigationDrawer">
        <ul id="drawer-menu">
          <li><a href="/#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/cakrads" rel="noreferrer" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="mainContent">
    <div class="skeleton-detail container">
      <div class="loading title"></div>
      <div class="loading sub-title"></div>
      <div class="loading picture"></div>
      <div class="loading card"></div>
    </div>
  </main>

  <div id="overlayDrawer" class="full-overlay"></div>
  <footer>
    <div class="container">
      <div class="link">
        <a href="index.html">Home</a>
        <a href="#">Favorite</a>
        <a href="https://github.com/cakrads" rel="noreferrer" target="_blank">About Us</a>
      </div>
      <div class="license">
        OVERANT - Discover Restaurant | Copyright © 2021
      </div>
    </div>
  </footer>
</body>

</html>