$black: #000000;
$white: #ffffff;
$red-300: #ff5b65;
$red-500: #FE043C;
$red-700: #c20014;
$purple-300: #5e4f9e;
$purple-500: #2E266F;
$purple-700: #000043;
$gray-300: #CBD5E0;
$gray-500: #718096;
$gray-700: #2D3748;
$light-500: #ffffff;
$light-700: #e2e6ea;


$text-sm: 12px;
$text-base: 14px;
$text-medium: 16px;
$text-lg: 18px;
$text-xl: 24px;
$text-2xl: 32px;
