@import './colors.scss';
/*
 * Globally
 *
 */

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $black;
  font-family: "Poppins", sans-serif;
  font-size: $text-base;
  background-color: $cream-500;
}

img {
  display: block;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: $radius-sm solid transparent;
  padding: .375rem .75rem;
  font-size: $text-base;
  line-height: 1.5;
  border-radius: .25rem;
  min-width: 44px;
  min-height: 44px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bg-red {
  color: $white;
  background-color: $red-500;
}
.bg-red:hover {
  background-color: $red-700;
}
.bg-purple {
  color: $white;
  background-color: $purple-500;
}
.bg-purple:hover {
  background-color: $purple-700;
}

/*
 * Typograph
 *
 */
h1, h2, h3, h4, h5 {
  color: $purple-500;
  text-transform: capitalize;
  margin-bottom: 8px;
}

a {
  color: $purple-500;
}
a:hover {
  color: $purple-300;
}
a:active {
  color: $purple-700;
}
p {
  color: $gray-500;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: $red-500;
  color: $white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

div[chromevoxignoreariahidden="1"] {
  display: none;
}

/*
 * Header and Nav
 *
 */
 header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  z-index: 5;
  min-height: 65px;
   
  .container {
    min-height: 4rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }
   
  .btn-menu {
    display: none;
  }

  h1 {
    font-size: $text-5xl;
    color: $red-500;
    font-weight: 700;
    margin-left: 8px;
    margin-bottom: 0px;
  }

  nav {
    ul {
      margin: 0;
      
      li {
        display: inline-block;
        text-align: center;
        line-height: 24px;
        text-transform: uppercase;

        a {
          display: inline-block;
          padding: 1.3em 2em;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
  
}

.hero {
  display: flex;
  align-items: center;
  min-height: 400px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2.jpg");
  background-position: center;
  background-color: $gray-500;
  background-size: cover;
  position: relative;

  .hero__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero__inner {
    margin: 0 auto;
    max-width: 800px;
    padding:0px 1rem;
    z-index: 1;
  
    h1 {
      font-weight: 500;
      font-size: $text-4xl;
      color: $white;
      margin-bottom: 24px;
      line-height: 65px;
    }
    
    p {
      color: $purple-500;
      font-size: $text-base;
      color: $white;
    }
  }
}

.services {
  padding: 40px 0px;

  h2 {
    font-size: $text-xl;
    text-align: center;
    margin-bottom: 24px;
  }

  .services__inner {

    section {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      picture {
        padding: 32px;
        background-color: $cream-700;
      }
      
      div {
        h3 {
          font-weight: 500;
        }
        p {
          font-size: $text-sm;
        }
      }

      &:nth-child(1), &:nth-child(3) {
        picture {
          margin-right: 10px;
          max-width: 50%;
        }
        div {
          text-align: right;
        }
      }

      &:nth-child(2) {
        flex-direction: row-reverse;
        picture {
          margin-left: 10px;
          max-width: 50%;
        }
      }

    }
  }
}

.headline {
  padding: 40px 0px;
  margin-bottom: 70px;
  background-color: $cream-700;

  figure {
    margin-bottom: 16px;

    img {
      width: 100%;
      margin-bottom: 8px;
      border-radius: $radius-lg;
    }

    figcaption {
      text-align: center;
      color: $gray-500;
      font-size: $text-sm;
      font-weight: 400;
    }
  }

  .headline__content {
    p {
      margin-bottom: 16px;
    }
  }

}

.restaurants {
  margin-bottom: 40px;
  
  h2 {
    font-size: $text-xl;
    text-align: center;
  }

  p.desc {
    text-align: center;
    margin-bottom: 32px;
  }

  .resto-data {
    display: grid;
    grid-row-gap: 16px;

    .resto-item {
      border-radius: $radius-lg;
      background-color: $white;
      overflow: hidden;
      position: relative;
    
      .item-body {
        padding: 0px 16px 16px;
  
        .title {
          display: flex;
          justify-content: space-between;
          font-size: $text-lg;

          h3 a {
            text-decoration: none;
            font-weight: 500;
          }

          .rating {
            color: $red-500;
            font-weight: 700;
            min-width: 70px;
            margin-left: 8px;
            text-align: right;
            padding-top: 3px;
          }
        }
    
        p {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      }

      .badge {
        position: absolute;
        top: 16px;
        right: 16px;
        min-width: 70px;
        padding: 8px 16px;
        font-size: $text-sm;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        border-radius: $radius-lg;
      }
  
    }

  }

  figure {
    overflow: hidden;
    margin-bottom: 16px;

    img {
      width: 100%;
    }
  }
}

footer {
  padding: 32px 0px 16px;
  color: $gray-500;
  background-color: $cream-700;
  
  .container {
    min-height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .link {
      margin-bottom: 16px;

      a {
        padding: 8px 16px;
        display: inline-block;
        text-decoration: none;
      }
    }
    
    .license {
      padding-top: 16px;
      text-align: center;
      width: 100%;
    }
  }
}

.full-overlay {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: opacity;
}

.full-overlay.open {
  display: block;
}

@import './responsive.scss';
