@import './base.scss';

@media screen and (max-width: 499px) {
  .services {

    .services__inner {
      section {
        &:nth-child(3) {
          flex-direction: column;
          background-color: $cream-700;
          padding: 16px;
          text-align: center;

          picture {
            max-width: 100%;
          }

          div {
            text-align: center;
            p {
              max-width: 70%;
              margin: auto;
              margin-bottom: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {

  .header-navigation {
    .container {
      position: relative;
      justify-content: flex-start;
      
      h1 {
        font-size: $text-2xl;
      }
    }

    .btn-menu {
      font-weight: bold;
      display: block;
      font-size: 20px;
      background-color: transparent;
    }
    .btn-menu:hover {
      color: $purple-700;
      background-color: $gray-300;
    }

    nav {
      width: 250px;
      height: 100%;
      position: fixed;
      top: 0;
      transform: translate(-300px, 65px);
      transition: transform 0.3s ease-in-out;
      background-color: $white;

      ul {
        list-style-type: none;
        padding: 0;
        border-top: 1px solid $gray-300;


        li {
          display: list-item;
          border-bottom: 1px solid $gray-300;
          width: 100%;
          text-align: left;

          a {
            width: 100%;
          }
          a:active {
            background-color: $purple-300;
            color: $white;
          }
        }
      }

    }
  
    nav.open {
      -webkit-transform: translate(-15px, 65px);
      transform: translate(-15px, 65px);
    }
  
  }
}

@media screen and (min-width: 651px) and (max-width: 900px) {

  .header-navigation {
    .container {
      h1 {
        font-size: $text-4xl;
      }
    }
  }

}

@media screen and (min-width: 455px) {

  .headline article {

    .headline__content {
      padding: 0 16px;
    }

  }

}

@media screen and (min-width: 500px) {
  .hero {
    
    .hero__inner {
      padding:0 2.5rem;

      h1 {
        font-size: $text-5xl;
      }
      
      p {
        font-size: $text-lg;
      }
    }

  }
  
  .services {
    
    .services__inner {
      
      section {
        div {
          h3 {
            font-size: $text-lg;
          }
          p {
            font-size: $text-base;
          }
        }
      }
    }
  }

  .restaurants .title {
    font-size: $text-xl;
  }
}

@media screen and (min-width: 650px) {
  
  .container {
    padding: 0 24px;
  }

  .services {
    
    .services__inner {
      max-width: 650px;
      margin: 0 auto;
    }
  }

  .headline article {

    figure, .headline__content {
      max-width: 650px;
      margin: 0 auto 16px;
    }
  }

}

@media screen and (min-width: 700px) {

  .detail-title {

    .detail-title-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      h1 {
        font-size: $text-4xl;
      }
      .btn {
        background: none;
        display: block;
      }
    }

  }
 
  .detail-content {
    grid-template-columns: 2fr 1fr;

    .detail-menus {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }

  .mobile-like {
    display: none;
  }

  footer {
    padding: 24px;
    
    .container {
      flex-direction: row;
  
      .link {
        margin-bottom: 0;
      }
      .license {
        padding-top: 0;
        text-align: center;
        width: auto;
      }
    }
  }

}

@media screen and (min-width: 850px) {
  .services {
    
    .services__inner {
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;

      section {
        flex-direction: column;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          flex-direction: column;
          picture {
            margin: 0;
            max-width: 100%;
          }

          div {
            padding: 10px;
            h3 {
              font-size: $text-lg;
              text-align: center;
            }
            p {
              font-size: $text-base;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .hero {
    background-image: url("../public/images/heros/hero-image.jpg") !important;
  }

  .headline {
    margin-bottom: 40px;
  }

  .headline article {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .headline__content {
        padding: 0 32px;
      }
  }

}

@media screen and (min-width: 1000px) {
  .services {
      
    .services__inner {

      section {
        flex-direction: column;

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          picture {
            max-width: 75%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {

  .headline article {

    .headline__content {
      padding-top: 16px;
    }
  }
 
}


.restaurants {
  @media screen and (min-width: 600px) {
    .resto-data {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 16px;
    }

    picture {
      height: 157px;
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 700px) {
    picture {
      height: 179px;
    }
  }

  @media screen and (min-width: 800px) {
    picture {
      height: 206px;
    }
  }

  @media screen and (min-width: 900px) {
    picture {
      height: 236px;
    }
  }

  @media screen and (min-width: 1000px) {
    .resto-data {
      grid-template-columns: 1fr 1fr 1fr;
    }

    picture {
      height: 174px;
    }
  }

  @media screen and (min-width: 1100px) {
    picture {
      height: 193px;
    }
  }

  @media screen and (min-width: 1200px) {
    picture {
      height: 210px;
    }
  }
}